@page "/players"

@inject IHttpClientFactory HttpClientFactory

<h3>Players</h3>

<ul>
    @foreach (var player in players)
    {
        <li>@player.Name (Total Wins: @player.TotalWins)</li>
    }
</ul>

@code {
    private HttpClient? _httpClient;
    private List<PlayerInfo> players = new List<PlayerInfo>();

    protected override async Task OnInitializedAsync()
    {
        _httpClient = HttpClientFactory.CreateClient("PlayerService");

        var response = await _httpClient.GetAsync("api/players");
        var content = await response.Content.ReadFromJsonAsync<List<PlayerInfo>>();
        if (content is not null)
            players = content;
    }
}
